#header-button,
.nav-item {
  font-family: var(--main-font);
  text-transform: uppercase;
}

#header {
  background-color: var(--primary-blue);
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media only screen and (max-width: 50em) {
  #header {
    padding: 1rem 1rem;
    justify-content: flex-start;
  }
}

#logo-image {
  width: 150px;
  aspect-ratio: 1 / 1;
}

@media only screen and (max-width: 50em) {
  #logo-image {
    margin-right: auto;
    width: 90px;
  }
}

#header-button {
  min-width: fit-content;
  padding: 0.8em 1em;
  font-size: clamp(2rem, 1vw + 1.75rem, 2.75rem);
  background-color: #e68e97;
  color: #fff;
  border: none;
  border-radius: 80px;
  box-shadow: -12px 12px 0 #965f65;
}

#header-button:active {
  transform: scale(0.95);
}

@media only screen and (max-width: 50em) {
  #header-button {
    padding: 0.4em 0.8em;
    font-size: calc(1vw + 1.25rem);
    box-shadow: -8px 8px 0 #965f65;
  }
}
