#hero {
  padding: 2rem;
  background-color: var(--primary-blue);

  display: flex;
  justify-content: center;
  gap: clamp(3rem, 5vw + 3rem, 10rem);
}

#hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

#hero-text {
  font-size: clamp(6rem, 10vw + 1rem, 12rem);
  font-family: var(--main-font);
  color: #fff;
  text-shadow: -4px 10px 5px #000;
  text-transform: uppercase;
  line-height: 1;
  margin-top: -0.5rem;
  width: min-content;
}

#hero-sub-text {
  font-size: clamp(1.5rem, 3vw, 3.5rem);
  font-family: var(--established-font);
  color: #fff;
  line-height: 1;
  text-shadow: -0.1em 0.1em 3px #000;
}

#hero-img {
  width: 28vw;
  min-width: 14rem;
  aspect-ratio: 1/1.5;
  rotate: 4deg;
}

@media only screen and (max-width: 50em) {
  #hero {
    background-color: red;
  }
}
