#next-event {
  display: flex;
}

@media only screen and (max-width: 50em) {
  #next-event {
    flex-direction: column;
  }
}

#flyer-container {
  background-color: #6587c7;
  display: grid;
  place-items: center;
}

@media only screen and (max-width: 50em) {
  #flyer-container {
    padding: 2rem;
  }
}

#flyer-img {
  width: 54vw;
  min-width: 26rem;
  aspect-ratio: 1/1;
  vertical-align: middle;
}

@media only screen and (max-width: 50em) {
  #flyer-img {
    width: 68vw;
    min-width: 16rem;
  }
}

#description-container {
  background-color: #6587c7;
  padding: 2rem 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

@media only screen and (max-width: 50em) {
  #description-container {
    justify-content: center;
    align-items: center;
  }
}

#description-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, 1vw, 1rem);
}

@media only screen and (max-width: 50em) {
  #description-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
  }
}

#next-event-heading {
  width: min-content;
  font-family: var(--main-font);
  font-size: clamp(5rem, 8vw + 1rem, 12rem);
  line-height: 1;
  color: #fff;
}

#next-event-description {
  font-family: var(--sub-text-font);
  font-size: clamp(1rem, 1vw, 1.25rem);
  color: #fff;
}

#learn-more-btn {
  min-width: fit-content;
  padding: 0.7em 0.9em;
  font-size: clamp(1rem, 1vw + 1rem, 2rem);
  font-family: var(--main-font);
  background-color: #a0e6a8;
  color: #242424;
  border: none;
  border-radius: 80px;
  box-shadow: -12px 12px 0 #39523c;
}

#learn-more-btn:active {
  transform: scale(0.95);
}

@media only screen and (max-width: 50em) {
  #learn-more-btn {
    margin-bottom: 2rem;
  }
}
