#marquee {
  background-color: #fffeea;
  overflow: hidden;

  display: flex;
}

.marquee-block {
  font-family: var(--marquee-font);
  font-size: 1.25rem;

  display: flex;
  align-items: center;
  flex-shrink: 0;

  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
