#next-event {
  display: flex;
}

#flyer-container {
  background-color: rgb(236, 246, 253);
  display: grid;
  place-items: center;
}

#flyer-img {
  width: 54vw;
  min-width: 26rem;
  aspect-ratio: 1/1;
  vertical-align: middle;
}

#description-container {
  background-color: rgb(236, 246, 253);
  padding: 2rem 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

#description-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, 1vw, 1rem);
}

#next-event-heading {
  width: min-content;
  font-family: var(--main-font);
  font-size: clamp(5rem, 8vw + 1rem, 12rem);
  line-height: 1;
  color: #e68e97;
}

#next-event-description {
  font-family: var(--sub-text-font);
  font-size: clamp(1rem, 1.5vw, 1.25rem);
}

#learn-more-btn {
  min-width: fit-content;
  padding: 0.7em 0.9em;
  font-size: clamp(1rem, 1vw + 1rem, 2rem);
  font-family: var(--main-font);
  background-color: #a0e6a8;
  color: #242424;
  border: none;
  border-radius: 80px;
  box-shadow: -12px 12px 0 #39523c;
}

#learn-more-btn:active {
  transform: scale(0.95);
}
