@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  letter-spacing: 1px;
}

:root {
  --main-font: "Anton", sans-serif;
  --sub-text-font: "Inter", sans-serif;
  --marquee-font: "Carter One", cursive;
  --primary-blue: #9db8ff;
}

#site-wrapper {
  min-height: 100vh;
}

.pointer {
  cursor: pointer;
}
